<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="root">
        <h1>人员列表</h1>
        <input type="text" v-model="search" placeholder="在这里输入查找">
        <ul>
            <li v-for="item in person" :key="item.id">{{item.name}}</li>
        </ul>
    </div>
    <!-- <div id="root">
        <h1>人员列表</h1>
        <input type="text" v-model="search" placeholder="在这里输入查找">
        <ul>
            <li v-for="item in person" :key="item.id">{{item.name}}</li>
        </ul>
    </div>-->
   
</body>
<script>
    const vm=new Vue({
        el: "#root",
        data: {
            person:[
                {
                    id: "1",
                    name:'张三',
                    age:18,
                    sex: '男'
                },
                {
                    id: "2",
                    name:'李四',
                    age:18,
                    sex: '男'
                },
                {
                    id: "3",
                    name:'王五',
                    age:18,
                    sex: '男'
                },
            ]
        },
        methods: {
            
        }
    })
    // const vm=new Vue({
    //     el: "#root",
    //     data: {
    //         person:[
    //             {
    //                 id: "1",
    //                 name:'张三',
    //                 age:18,
    //                 sex: '男'
    //             },
    //             {
    //                 id: "2",
    //                 name:'李四',
    //                 age:18,
    //                 sex: '男'
    //             },
    //             {
    //                 id: "3",
    //                 name:'王五',
    //                 age:18,
    //                 sex: '男'
    //             },
    //         ]
    //     },
    //     methods: {
            
    //     }
    // })
</script>
</html>